*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
span,
a,
li,
button,
input,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* overflow-x: hidden; */
}
.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow-x: hidden
}
.bg-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.bg {
    height: 100%;
    width: 400px;
}
.searchSection {
    width: 650px;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 10px 30px;
}
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 5px;
}
.searchBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    height: 100%;
    width: 70px;
    background-color: #0e3eda;
}
.search-icon {
    color: white;
    width: 60px;
}
.search-input {
    padding: 10px;
    font-size: 20px;
    direction: ltr;
    height: 60px;
    width: 500px;
    border: 0;
    outline: 0;
    background-color: transparent;
}
.usersPart {
    height: 480px;
}
.users-text {
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    direction: ltr;
}
.users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 10px;
    height: 410px;
    border-radius: 20px;
    overflow: auto;
}
.users::-webkit-scrollbar {
    display: none;
}
.user {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 300px;
    height: 120px;
    background-color: #f1f1f1;
    margin-bottom: 30px;
    border-radius: 5px;
}
.profile {
    border-radius: 10px;
    width: 100px;
    height: 100px;
}


/* media queries  */
@media only screen and (max-width: 903px) {
    .box {
        flex-direction: column;
    }
    .bg {
        width: 100%;
    }
    .searchSection {
        margin-top: 50px;
    }
}
@media only screen and (max-width: 669px) {
    .bg {
        width: 90%;
    }
    .searchSection {
        width: 310px;
    }
} 